{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

<style>
    .table-custom {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .table-custom thead {
        background-color: #343a40;
        color: #ffffff;
    }

    .table-custom th,
    .table-custom td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        position: relative;
    }

    .table-custom td:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(133, 133, 133, 0.55);
        z-index: -1;
        border-radius: 10px;
        transform: scale(1.05);
    }

    .centered-title {
        text-align: center;
        margin: 20px 0;
    }
    .buttons-container {
        display: flex;
        justify-content: flex-end; /* Aligns items to the right */
        align-items: center; /* Centers items vertically */
        margin-bottom: 0px; /* Space below the buttons */
    }
    .btn-secondary {
    margin-right: 10px; /* Add space to the right of buttons */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="centered-title">
    <h1 style="font-size: 2em; background-color: #343a40; color: white; padding: 10px 20px; border-radius: 10px; display: inline-block; font-family: 'Arial', sans-serif; letter-spacing: 1px; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">Records</h1>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="buttons-container">
    <a href="{% url 'download_table' %}" class="btn btn-secondary">Download Table</a>
    <form action="{% url 'delete_all_records' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Table</button>
    </form>
</div>

<br/>
<br/>

<table class="table-custom">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Added Date</th>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Email</th>
            <th scope="col">Status #</th>
            <th scope="col">Resolution</th>
            <th scope="col">Description</th>
            <th scope="col">Comment</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if records %}
            {% for record in records %}
                <tr>
                    <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                    <td>{{ record.created_at }}</td>
                    <td>{{ record.first_name }} {{ record.last_name }}</td>
                    <td>{{ record.subject }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.resolution }}</td>
                    <td>{{ record.description }}</td>
                    <td>{{ record.comment }}</td>
                    <td class="button-column">
                        <a href="{% url 'update' record.id %}" class="btn btn-secondary">Update</a>
                        <a href="{% url 'delete' record.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.table-custom td').hover(
            function () {
                $(this).addClass('hovered');
            },
            function () {
                $(this).removeClass('hovered');
            }
        );
    });
</script>

{% else %}
    <div class="centered-title">
        <h1 style="font-size: 2em; background-color: #343a40; color: white; padding: 10px 20px; border-radius: 10px; display: inline-block; font-family: 'Arial', sans-serif; letter-spacing: 1px; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">Login</h1>
    </div>
    <br />
    <br />
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="User" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
{% endif %}
{% endblock %}